<div class="row">
    <div class="col-lg-2">
        <div class="d-grid">
            <button type="button" class="btn btn-primary btn-block" (click)="backToHome()">Back to home</button>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-lg-2">
        <div class="card border-secondery mb-3">
            <div class="card-header h3 text-muted text-center">Users</div>
            <div class="card-body" style="min-height: 555px;">
                <div class="row mt-1">
                    <div class="col">
                        <div class="d-grid">
                            <button type="button" class="btn btn-success card-text btn-block">{{chatService.myName}}</button>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col">
                        <div class="d-grid">
                            <button type="button" class="btn btn-dark card-text btn-block">User2</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="col-lg-9">
        <div class="card border-secondery">
            <div class="card-header h3 text-muted text-center">Messages</div>
            <div class="card-body" style="min-height: 500px;">
                <div style="overflow-y: auto; height: 450px;">
                    <p class="card-text">
                        <span class="text-primary">User1: </span>
                        <span class="ml-1">Some Message goes here</span>
                    </p>
                    <p class="card-text">
                        <span class="text-primary">User2: </span>
                        <span class="ml-1">Some Message goes here</span>
                    </p>
                    <p class="card-text">
                        <span class="text-primary">User2: </span>
                        <span class="ml-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet reprehenderit adipisci quasi, omnis illum tenetur itaque sit sapiente ipsum explicabo eos facilis accusantium dolore ex vero debitis excepturi eligendi! Similique, iste quia dolorem mollitia rerum ipsa! Distinctio delectus quod tempora ducimus voluptate enim provident vel id assumenda laborum, ipsum quos?</span>
                    </p>
                    <p class="card-text">
                        <span class="text-primary">User2: </span>
                        <span class="ml-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet reprehenderit adipisci quasi, omnis illum tenetur itaque sit sapiente ipsum explicabo eos facilis accusantium dolore ex vero debitis excepturi eligendi! Similique, iste quia dolorem mollitia rerum ipsa! Distinctio delectus quod tempora ducimus voluptate enim provident vel id assumenda laborum, ipsum quos?</span>
                    </p>
                    <p class="card-text">
                        <span class="text-primary">User2: </span>
                        <span class="ml-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet reprehenderit adipisci quasi, omnis illum tenetur itaque sit sapiente ipsum explicabo eos facilis accusantium dolore ex vero debitis excepturi eligendi! Similique, iste quia dolorem mollitia rerum ipsa! Distinctio delectus quod tempora ducimus voluptate enim provident vel id assumenda laborum, ipsum quos?</span>
                    </p>
                    <p class="card-text">
                        <span class="text-primary">User2: </span>
                        <span class="ml-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet reprehenderit adipisci quasi, omnis illum tenetur itaque sit sapiente ipsum explicabo eos facilis accusantium dolore ex vero debitis excepturi eligendi! Similique, iste quia dolorem mollitia rerum ipsa! Distinctio delectus quod tempora ducimus voluptate enim provident vel id assumenda laborum, ipsum quos?</span>
                    </p>
                </div>
            </div>
            <div class="card-footer">
                <form autocomplete="off">
                    <div class="row">
                        <div class="col-9">
                            <input type="text" class="form-control" placeholder="Send message">
                        </div>
                        <div class="col-3">
                            <div class="d-grid">
                                <button class="btn btn-dark btn-block" type="submit">Send</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>